[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pyinstaller = "*"

[packages]
requests = "*"
python-dotenv = "*"
validators = "*"
keyring = "*"
pypiwin32 = "*"

[requires]
python_version = "3.8"
